<!--   LOCKYSPHERE start -->
<div class="container separator-jdd">
    <div class="row">
        <div class="col-xs-9">
            <div class="weekly-news-area pt-50">
                <div class="container">
                    <div class="weekly-wrapper">
                        <!-- section Tittle -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly-news-active  d-flex">
                                    <div class="weekly-single slick-active">
                                        <div class="small-tittle mb-20">
                                            <h4>
                                                <a href="{{ path('accueil_univers_loky') }}">  <strong>La Lokysphère</strong> </a>
                                            </h4>
                                        </div>
                                        <div class="weekly-img weekly-img-jdd">
                                            <a href="{{ path('accueil_univers_loky') }}">
                                                <img src="{{ asset('FrontEnd/assets/images/lunivers-de-loky.jpg')}}" />

                                            </a>
                                        </div>
                                        <div class="weekly-caption">
                                            <span class="color1">Personnage</span>
                                            <h4><a href="{{ path('accueil_univers_loky') }}">Bienvenu(e) dans la lokysphère</a></h4>
                                        </div>
                                    </div>

                                    <div class="weekly-single">
                                        <div class="small-tittle  label-bd mb-20">
                                            <h4><strong>Coin BéDé </strong>
                                            </h4>
                                        </div>
                                        <div class="weekly-img">
                                            <a href="{{ path('accueil_univers_bd') }}">   <img src="{{ asset('FrontEnd/assets/images/Coin-Bédé.jpg')}}"/>
                                            </a>
                                        </div>

                                    </div>


                                    <!--                                           -->



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 mt-45">
            <div class="weekly-single mt-10">
                <div class="small-tittle  label-vogue mb-20">
                    <h4><strong>A DESSEIN</strong>
                    </h4>
                </div>
                <!--                                            <div class="weekly-img">-->
                <!--                                                <img src="assets/images/dessins/A-DES-SEIN-ddj.jpg"/>-->
                <!--                                            </div>-->
                <div class="whats-news-area-jdd">
                    <div class="most-recent-area">
                        <!-- Section Tittle -->

                        <!-- Details -->
                        <div class="most-recent mb-15">
                            <div class="most-recent-img">
                                <a href="{{ path('accueil_equipe_dessinateurs') }}">
                                    <img class="img-fluid" src="{{ asset('FrontEnd/assets/images/A-de-seins-ddj.jpg')}}" alt="">
                                </a>
                                <!--                                    <div class="most-recent-cap">-->
                                <!--                                        <span class="bgbeg">Vogue</span>-->
                                <!--                                        <h4><a href="latest_news.html">What to Wear: 9+ Cute Work <br>-->
                                <!--                                            Outfits to Wear This.</a></h4>-->
                                <!--                                        <p>Jhon  |  2 hours ago</p>-->
                                <!--                                    </div>-->
                            </div>
                        </div>
                        <div class="most-recent mb-0">
                            <div class="most-recent-img">
                                <a href="{{ path('accueil_envoi_dessins') }}">

                                    <img class='img-fluid' src="{{ asset('FrontEnd/assets/images/A-de-seins-ddj-3.jpg')}}" alt="">
                                </a>
                                <!--                                    <div class="most-recent-cap">-->
                                <!--                                        <span class="bgbeg">Vogue</span>-->
                                <!--                                        <h4><a href="latest_news.html">What to Wear: 9+ Cute Work <br>-->
                                <!--                                            Outfits to Wear This.</a></h4>-->
                                <!--                                        <p>Jhon  |  2 hours ago</p>-->
                                <!--                                    </div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- End LOCKYSPHERE -->