{% extends 'base.html.twig' %}

{% block title %}Dessins index{% endblock %}

{% block body %}
    <h1>Dessins index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Images</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dessin in dessins %}
            <tr>
                <td>{{ dessin.id }}</td>
                <td>{{ dessin.titre }}</td>
                <td>{{ dessin.images }}</td>
                <td>{{ dessin.createdAt ? dessin.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_dessins_show', {'id': dessin.id}) }}">show</a>
                    <a href="{{ path('admin_dessins_edit', {'id': dessin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_dessins_new') }}">Create new</a>
{% endblock %}
