{% extends 'base.html.twig' %}

{% block title %}Dessins{% endblock %}

{% block body %}
    <h1>Dessins</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dessin.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ dessin.titre }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ dessin.images }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ dessin.createdAt ? dessin.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dessins_index') }}">back to list</a>

    <a href="{{ path('dessins_edit', {'id': dessin.id}) }}">edit</a>

    {{ include('dessins/_delete_form.html.twig') }}
{% endblock %}
